@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Droid Sans", Tahoma, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #666;
}

blockquote {
  font-size: 14px;
  border-left: 3px solid #ccc;
}

hr {
  border-top: 1px solid #ccc;
  margin-top: 0;
}

ul,
ul ul {
  margin-bottom: 10px;
}

td {
  font-size: 14px;
}

img.right {
  float: right;
}

img.vspacer-20 {
  margin-bottom: 20px;
}

a.anchor {
  position: relative;
  top: -55px;
  float: left;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #ccc;
}

.table > thead > tr > th {
  border-bottom: 2px solid #ccc;
}

.fade-slow {
  transition: opacity 1s ease-in;
}

.fade-fast {
  transition: opacity 200ms ease-in;
}

.transparent {
  opacity: 0;
}

.navbar a > span.logo {
  color: #5a0;
}

.navbar {
  font-size: 15px;
}

.navbar.navbar-fixed-top {
  z-index: 1000;
}

.navbar.navbar-inverse {
  background-image: linear-gradient(to bottom, #666, #444);
  background-color: #666;
}

.navbar.navbar-inverse .navbar-brand {
  font-family: "century gothic";
  font-size: 22px;
  color: #fff;
}

.navbar.navbar-inverse .navbar-nav > .active > a,
.navbar.navbar-inverse .navbar-nav > .open > a {
  background-image: linear-gradient(to bottom, #333, #222);
  background-color: #222;
}

.forkme {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1001;
}

@media (min-width: 768px) {
  .forkme.collapse {
    display: inline;
  }

  .nav > li.mobile-forkme {
    display: none;
  }
}

@media (max-width: 992px) {
  .nav {
    width: 600px;
    height: 50px;
    overflow: hidden;
  }
}

@media (max-width: 832px) {
  .nav {
    width: 550px;
    height: 50px;
    overflow: hidden;
  }
}

.jumbotron {
  background: url("../media/logo-bg.png") bottom -35px left 15% no-repeat, linear-gradient(to bottom, #5a0, #5ebd00) #5a0;
  color: #e5f6d3;
  margin-top: 50px;
  padding-bottom: 68px;
}

.jumbotron p {
  font-size: 20px;
}

.band {
  padding: 20px 0;
}

.band:nth-child(2n+1) {
  background-color: #e5f6d3;
}

.band:nth-child(2n+0) {
  background-color: #fff;
}

#getting-started {
  font-size: 20px;
}

#footer {
  flex-grow: 1;
  min-height: 100px;
  padding-top: 40px;
  background-color: #fff;
  font-size: 14px;
}

#attract {
  height: 400px;
}

/* melonJS */
#screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#screen canvas {
  /* Hide the gap for font descenders. */
  display: block;

  /* Disable scaling interpolation */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
