* {
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: calc(6.5vmin + 2em);
}

body {
    background-color: var(--dark-gray);
    color: #e7e9e5;
    display: flex;
    flex-direction: column;
    font-family: 'Droid Sans', Tahoma, 'Lucida Grande', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: var(--light-green);
}

img {
    user-select: none;
}

@media (max-width: 640px) {
    .no-mobile {
        display: none;
    }
}

blockquote {
    & ul,
    & ol {
        list-style: none;
    }
}
