@import 'variables';
header {
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $gray;
    border-bottom: 0.5vmin solid $dark-gray;
    //padding: 0 10vmin;
    a {
        color: inherit;
        text-decoration: none;
    }
    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            max-width: 100vw;
            flex-wrap: wrap;
            li {
                position: relative;
                flex-grow: 1;
                text-align: center;
                list-style: none;
                color: #dadada;
                transition: background-color 0.3s ease, color 0.3s ease;
                &.active,
                &:hover {
                    color: white;
                    background-color: $dark-gray;
                    transition: none;
                }
                a {
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                    padding: 3vmin 2vmin;
                    width: calc(100% - 4vmin);
                    height: calc(100% - 6vmin);
                    vertical-align: middle;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}
.inline {
    height: 0.75em;
    &:not(.no-bump) {
        //margin: -0.25em 0.75em 0 0;
    }
    vertical-align: middle;
    &.big {
        height: 1.5em;
    }
}