@import "variables";
main {
    .socials {
        list-style: none;
        display: flex;
        font-size: 2.25em;
        margin: 2.5vmin 0;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            width: initial;
        }
        svg {
            min-width: 33vmin;
        }
    }
    .computer {
        margin-top: 5vmin;
    }
    .jumbotron {
        background-color: $dark-gray !important;
    }
    .display {
        list-style: none;
        display: grid;
        gap: 1rem;
        width: 100%;
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        li { 
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: fit-content;
            a {
                margin: auto;
            }
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: left;
        & > * {
            float: left;
            position: relative;
        }
        &.three > * {
            @media (min-width: $desktop-width) {
                max-width: 33.33%;
            }
        }

        &.two > * {
            @media (min-width: $mobile-width) {
                width: 48%;
            }
        }
    }
    .right {
        float: right;
    }
    blockquote {
        padding: 2vmax;
        border-left: 3px solid #ccc;
    }
    h1,
    h2,
    h3 {
        margin-top: 4vmin;
        margin-bottom: 2vmin;
    }
    h1 {
        @media (min-width: $mobile-width) {
            font-size: 3em;
        }
    }
    a.btn {
        &:nth-of-type(1) {
            margin-left: 0;
        }
        color: $black !important;
        //text-shadow: 1px 1px 0.4vmin #ffffffa3;
        text-decoration: none;
        display: inline-block;
        padding: 2vmin;
        margin: 2vmin 0.5vmin;
        border-radius: 2vmin;
        &.success {
            background-color: $dark-green;
            color: $black !important;
        }
        &.primary {
            background-color: $ocean;
        }
        &.danger {
            background-color: $red;
        }
        &.primary, &.danger {
            color: white !important;
            text-shadow: 1px 1px 0.4vmin #000000a3;
        }
        &.default {
            background-color: $white;
            color: $black !important;
            text-shadow: none;
        }
    }
    ul {
        li {
            > * {
                display: inline-block;
            }
            margin: 2vmin 0;
            width: 100%;
        }
        ul {
            margin-left: 10vmin;
        }
    }
    .table {
        text-align: center;
        width: 100%;
        max-width: 100%;
        tbody {
            th {
                &:first-child {
                    text-align: left;
                }
            }
        }
    }
    .glyphicon {
        &.text-success {
            color: $green;
        }
        &.glyphicon-check:before {
            content: '\e067';
        }
    }
    .spotlight {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        & > * {
            margin-top: 2vmin;
            display: inline-block;
            width: 100%;
            @media (min-width: $mobile-width) {
                width: 49%;
            }
        }
        a {
            display: inline-block;
            margin: 3vmin 0;
        }
        .content {
            position: relative;
            &::after {
                padding-top: 56.25%;
                content: '';
                display: block;
            }
            iframe,
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .browsers {
        margin-top: 3vmin;
        tbody {
            tr {
                padding: 5vmin 0;
                &:not(:first-child) {
                    th,
                    td {
                        border-top: 0.1vmin solid $gray;
                    }
                }
                th {
                    color: $ocean;
                }
                th,
                td {
                    padding: 1vmin;
                }
            }
        }
    }
    .quick-start {
        margin-top: 2vmin;
        ul {
            list-style: none;
            li {
                display: inline;
            }
        }
    }
    hr {
        background-color: $gray;
        height: 0.5px;
        border: none;
        margin-bottom: 3vmin;
    }
    ul {
        //margin-top: 3vmin;
    }
}