main {
    & .socials {
        list-style: none;
        display: flex;
        font-size: 2.25em;
        margin: 2.5vmin 0;
        justify-content: space-around;
        flex-wrap: wrap;

        & li {
            width: initial;
        }
    }

    & .computer {
        margin-top: 5vmin;
    }

    & .jumbotron {
        background-color: var(--dark-gray) !important;
    }

    & .display {
        list-style: none;
        display: grid;
        gap: 1rem;
        width: 100%;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        & li {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: fit-content;

            & a {
                margin: auto;
            }
        }
    }

    & .row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: left;

        & > * {
            float: left;
            position: relative;
        }
    }

    & .row.three > * {
        @media (min-width: 1080px) {
            max-width: 33.33%;
        }
    }

    & .row.two > * {
        @media (min-width: 640px) {
            width: 48%;
        }
    }

    & .right {
        float: right;
    }

    & footer.band {
        text-align: center;
    }

    & blockquote {
        padding: 2vmax;
        border-left: 3px solid #ccc;
    }

    & .highlights > div {
        text-align: center;

        & h2 {
            margin-bottom: 2vmin;
        }

        & p {
            max-width: 280px;
            margin: 0 auto;
            line-height: 1.6;
        }
    }

    & h1,
    & h2,
    & h3 {
        margin-top: 4vmin;
        margin-bottom: 2vmin;
    }

    @media (min-width: 640px) {
        & h1 {
            font-size: 3em;
        }
    }

    & a.btn {
        color: var(--black) !important;
        text-decoration: none;
        display: inline-block;
        padding: 2vmin;
        margin: 2vmin 0.5vmin;
        border-radius: 2vmin;

        &:nth-of-type(1) {
            margin-left: 0;
        }

        &.success {
            background-color: var(--dark-green);
            color: var(--black) !important;
        }

        &.primary {
            background-color: var(--ocean);
        }

        &.danger {
            background-color: var(--red);
        }

        &.discord {
            background-color: #ccc;

            & path {
                fill: black;
            }
        }

        &.primary,
        &.danger {
            color: white !important;
            text-shadow: 1px 1px 0.4vmin #000000a3;
        }

        &.default {
            background-color: var(--white);
            color: var(--black) !important;
            text-shadow: none;
        }
    }

    & ul {
        padding-left: 4vmin;

        & li {
            margin: 2vmin 0;
            width: 100%;

            & > * {
                display: inline-block;
            }
        }

        & ul {
            margin-left: 10vmin;
        }
    }

    & .table {
        text-align: center;
        width: 100%;
        max-width: 100%;

        & tbody th:first-child {
            text-align: left;
        }
    }

    & .check {
        color: var(--green);
    }

    & .spotlight {
        position: relative;

        & a {
            display: inline-block;
            margin: 3vmin 0;
        }

        & .content {
            position: relative;

            &::after {
                padding-top: 56.25%;
                content: '';
                display: block;
            }

            & iframe,
            & img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    & .browsers {
        margin-top: 3vmin;

        & tbody tr {
            padding: 5vmin 0;

            &:not(:first-child) th,
            &:not(:first-child) td {
                border-top: 0.1vmin solid var(--gray);
            }

            & th {
                color: var(--ocean);
            }

            & th,
            & td {
                padding: 1vmin;
            }
        }
    }

    & .quick-start {
        margin-top: 2vmin;

        & ul {
            list-style: none;

            & li {
                display: inline;
            }
        }
    }

    & hr {
        background-color: var(--gray);
        height: 0.5px;
        border: none;
        margin-bottom: 3vmin;
    }
}
