@import 'variables';

main.md {
    text-align: center;
    background-color: $dark-gray;
    color: $white;
    min-height: 100vh;
    line-height: calc(2.5vmin + 2vmax);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: calc(2.5vmin + 4vmax);
        margin: 5vmin auto 2vmin auto;
    }
    h1 {
        text-decoration: underline;
    }
    padding: 5vmin 10vmin;
    display: flex;
    flex-direction: column;
    & > * {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    p:nth-of-type(1) {
        margin-bottom: 5vmin;
        text-align: center;
    }
    img {
        &:not(.inline) {
            display: block;
        }
        margin: 2vmin auto;
        width: 45vw;
        min-width: 80vmin;
        &.medium {
            width: 65vw;
            margin: 6vmin auto;
        }
        &.large {
            min-width: 90vmin;
            width: 80vw;
            margin: 8vmin auto;
        }
    }
    pre {
        padding: 3vmin;
        margin: 4vmin auto;
        border: 1vmin solid $dark-green;
        max-width: calc(100% - 8vmin);
    }
    a {
        color: $green;
    }
    a.next {
        display: block;
        margin: 5vmin auto;
        border: 1vmin solid $green;
        padding: 2vmin;
    }
}
