@keyframes pound {
    0%, 80%, 100% {
        transform: none;
    }
    60% {
        transform: translate(10%, -10%) rotateZ(30deg);
    }
  }
@keyframes doshatter {
    70% {
        opacity: 0;
    }
    90% {
        opacity: 100%;
    }
}
@keyframes destroydot {
    70% {
        opacity: 100%;
    }
    0%, 90% {
        opacity: 0%;
    }
}

#melon-hack {
    overflow: visible;
    #hammer {
        animation-name: pound;
        transform-origin: center;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    #shatter {
        animation-name: doshatter;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    #dot {
        opacity: 0;
        animation-name: destroydot;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}