$mobile-width: 640px;
$desktop-width: 1080px;
// Color Palette
$green: #6ba832;
$light-green: #5cb85c;
$jean: #77A4A9;
$ocean: #337ab7;
$cream: #EFAD72;
$dust: #B7A5A6;
$ash: #EADEE3;
$clay: #8D555B;
$red: #d9534f; // Warning Color
$white: white;
$black: black;
$gray: #404040;
$dark-gray: #202020;