$mobile-width: 640px;
$desktop-width: 1080px;
// Color Palette
$dark-green: #6ba832;
$green: #82c743;
$light-green: #8de48d;
$deep-green: #57b302;
$jean: #77a4a9;
$ocean: #337ab7;
$cream: #efad72;
$dust: #b7a5a6;
$ash: #eadee3;
$clay: #8d555b;
$red: #d9534f; // Warning Color
$white: white;
$black: black;
$gray: #404040;
$dark-gray: #202020;
