---
import BaseLayout from '../layout/BaseLayout.astro'
import '../styles/glyphicons.scss'
---

<BaseLayout>
    <style lang='scss'>
        @import '../styles/variables.scss';
        main {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 5vmin;
            }
            & > * {
                padding: 5vmin 20vmin;
                @media (max-width: $mobile-width) {
                    padding: 5vmin 10vmin;
                }
                &:nth-child(odd) {
                    background-color: $gray;
                    box-shadow: 2vmin 0 2vmin 0 $light-green;
                    color: $white;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    a {
                        color: $dark-green;
                    }
                }
            }
        }
        .computer {
            margin-top: 5vmin;
        }
        .jumbotron {
            background-color: $dark-gray !important;
        }
        .row {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: left;
            & > * {
                float: left;
                position: relative;
            }
            &.three > * {
                @media (min-width: $desktop-width) {
                    max-width: 33.33%;
                }
            }

            &.two > * {
                @media (min-width: $mobile-width) {
                    width: 48%;
                }
            }
        }
        .right {
            float: right;
        }
        blockquote {
            padding: 2vmax;
            border-left: 3px solid #ccc;
        }
        h1,
        h2,
        h3 {
            margin-top: 4vmin;
            margin-bottom: 2vmin;
        }
        h1 {
            @media (min-width: $mobile-width) {
                font-size: 3em;
            }
        }
        a.btn {
            &:nth-of-type(1) {
                margin-left: 0;
            }
            color: $white !important;
            text-decoration: none;
            display: inline-block;
            padding: 2vmin;
            margin: 2vmin 0.5vmin;
            border-radius: 2vmin;
            background-color: $green;
            &.primary {
                background-color: $ocean;
            }
            &.danger {
                background-color: $red;
            }
            &.default {
                background-color: $white;
                color: $black !important;
            }
        }
        li {
            > * {
                display: inline-block;
            }
            margin: 2vmin 0;
            width: 100%;
            ul {
                margin-left: 10vmin;
            }
        }
        .table {
            text-align: center;
            width: 100%;
            max-width: 100%;
            tbody {
                th {
                    &:first-child {
                        text-align: left;
                    }
                }
            }
        }
        .glyphicon {
            &.text-success {
                color: $green;
            }
            &.glyphicon-check:before {
                content: '\e067';
            }
        }
        .spotlight {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            & > * {
                margin-top: 2vmin;
                display: inline-block;
                width: 100%;
                @media (min-width: $mobile-width) {
                    width: 49%;
                }
            }
            a {
                display: inline-block;
                margin: 3vmin 0;
            }
            .content {
                position: relative;
                &::after {
                    padding-top: 56.25%;
                    content: '';
                    display: block;
                }
                iframe,
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .browsers {
            margin-top: 3vmin;
            tbody {
                tr {
                    padding: 5vmin 0;
                    &:not(:first-child) {
                        th,
                        td {
                            border-top: 0.1vmin solid $gray;
                        }
                    }
                    th {
                        color: $ocean;
                    }
                    th,
                    td {
                        padding: 1vmin;
                    }
                }
            }
        }
        .quick-start {
            margin-top: 2vmin;
            ul {
                list-style: none;
                li {
                    display: inline;
                }
            }
        }
        hr {
            background-color: $gray;
            height: 0.5px;
            border: none;
            margin-bottom: 3vmin;
        }
        ul {
            margin-top: 3vmin;
        }
    </style>
    <main>
        <div class='jumbotron'>
            <div class='container'>
                <img
                    class='banner'
                    src='/img/logo.svg'
                    alt='melonjs banner'
                    width='80%'
                />
                <h1>Fresh, modern &amp; lightweight</h1>
                <p>
                    melonJS is an open source HTML5 game engine that empowers
                    developers and designers to focus on content.
                </p>
                <p>
                    The framework provides a comprehensive collection of
                    components and support for a number of third-party tools.
                    Giving you a powerful combination that can be used wholesale
                    or piecemeal.
                </p>
                <nav class='quick-start'>
                    <ul>
                        <li>
                            <a
                                class='btn primary'
                                href='https://www.npmjs.com/package/melonjs'
                                role='button'
                                ><span class='glyphicon glyphicon-save'></span> Download
                            </a>
                        </li>
                        <li>
                            <a
                                class='btn success'
                                href='https://github.com/melonjs/melonJS#using-melonjs'
                                role='button'
                                >Getting Started
                            </a>
                        </li>
                        <li>
                            <a
                                class='btn danger'
                                href='https://melonjs.github.io/examples/platformer/'
                                role='button'
                                >Demo
                            </a>
                        </li>
                        <li>
                            <a
                                class='btn default'
                                href='https://melonjs.github.io/docs/'
                                role='button'
                                >Read The Docs &raquo;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class='row three'>
            <div>
                <h2>Fast</h2>
                <img
                    class='right'
                    height={128}
                    src='/img/icons/HTML5_Badge.png'
                    alt='HTML5'
                />
                <blockquote>
                    <p>Built with modern technology.</p>
                    <li><p>ES6</p></li>
                    <li><p>WebGL 2</p></li>
                    <li><p>WebAudio</p></li>
                </blockquote>
            </div>
            <div>
                <h2>Free</h2>
                <blockquote>
                    <p>Released under the permissive MIT License.</p>
                    <li><p>No cost.</p></li>
                    <li><p>Forever.</p></li>
                </blockquote>
            </div>
            <div>
                <h2>Elegant</h2>
                <blockquote>
                    <li>
                        <p>Your scene graph is a hierarchy of containers.</p>
                    </li>
                    <li>
                        <p>
                            Updates and drawing operations are dispatched
                            separately.
                        </p>
                    </li>
                    <li>
                        <p>
                            Draws are opt-in; add compute-only renderable for
                            AI, special effects, etc.
                        </p>
                    </li>
                </blockquote>
            </div>
        </div>

        <div class='band'>
            <h2>Powerful Level Design</h2>
            <p>
                melonJS integrates the popular Tiled map format, allowing
                designers easily create levels using the Tiled map editor, and
                to focus on the game features itself.
            </p>
            <br />
            <img
                src='/img/alex4-github.png'
                title='Fast and Powerful level design through Tiled'
                width='85%'
                height='85%'
                class='computer'
            />
        </div>

        <div class='row two'>
            <div>
                <h2>Features<a id='features' class='anchor'></a></h2>
                <hr />
                <ul>
                    <li>A fresh and lightweight 2D sprite-based engine</li>
                    <li>Standalone library (no additional dependencies)</li>
                    <li>
                        Fast WebGL 1 & 2 renderer for desktop and mobile devices
                        with fallback to Canvas rendering
                    </li>
                    <li>
                        Web Audio support with fallback to Multi-channel HTML5
                        audio
                    </li>
                    <li>
                        High DPI resolution &amp; advanced auto scaling options
                    </li>
                    <li>
                        Sprite with 9-slice scaling option, animation
                        management, and built-in effects (tinting, masking)
                    </li>
                    <li>Tween &amp; Transition effects</li>
                    <li>System and Bitmap fonts</li>
                    <li>A state manager and customizable loader</li>
                    <li>Mouse, Touch, Pointer, and Gamepad device support</li>
                    <li>
                        Device motion, orientation, and accelerometer support
                    </li>
                    <li>
                        Lightweight 2D "arcade" physic implementation
                        <ul>
                            <li>
                                Polygon (SAT) based collision algorithm for
                                accurate detection and response
                            </li>
                            <li>
                                Fast Broad-phase collision detection using
                                spatial partitioning
                            </li>
                            <li>
                                Collision filtering for optimized automatic
                                collision detection
                            </li>
                        </ul>
                    </li>
                    <li>
                        Tiled map format integration for easy level design:
                        <ul>
                            <li>
                                Orthogonal, Isometric, Hexagonal, and
                                Perspective tilemap built-in support
                            </li>
                            <li>
                                Multiple and Dynamic tiles and objects layers
                                support including parallax scrolling
                            </li>
                            <li>
                                Animated Tiles, rotated tiles, transparency,
                                tiled Objects and more...
                            </li>
                            <li>export to JSON and XML formats</li>
                        </ul>
                    </li>
                    <li>
                        As light as less than <a
                            href='https://bundlephobia.com/result?p=melonjs@latest'
                        >
                            100kb
                        </a> minified & gzipped
                    </li>
                </ul>
            </div>

            <div class='col-md-6'>
                <img
                    class='right no-mobile'
                    width='150'
                    src='/img/icons/browser_icons.png'
                    alt='browser icons example'
                />
                <h2>Compatibility<a id='compatibility' class='anchor'></a></h2>
                <hr />
                <p>melonJS works with any full ES5/ES6 compatible browsers</p>
                <table class='table browsers'>
                    <thead>
                        <tr><th>Browser</th><th>Version</th><th>Status</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <a href='http://www.google.com/chrome/'
                                    >Chrome
                                </a>
                            </th>
                            <td>55+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <th
                                ><a href='http://www.apple.com/safari/'
                                    >Safari
                                </a>
                            </th>
                            <td>10+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <th
                                ><a href='http://www.mozilla.com/'>Firefox</a>
                            </th>
                            <td>50+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <th><a href='http://www.opera.com/'>Opera</a></th>
                            <td>42+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <th
                                ><a href='https://www.microsoft.com/en-us/edge'
                                    >Edge
                                </a>
                            </th>
                            <td>20+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <th
                                ><a
                                    href='https://www.google.com/chrome/browser/mobile/'
                                    >Chrome for Mobile
                                </a>
                            </th>
                            <td>55+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <th
                                ><a href='http://www.apple.com/safari/'
                                    >iOS Safari
                                </a>
                            </th>
                            <td>9.3+</td>
                            <td
                                ><span
                                    class='glyphicon glyphicon-check text-success'
                                ></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h2>Developer Spotlight</h2>
            <div class='spotlight'>
                <div>
                    <a href='https://playerkillers.exchange'
                        >Player Killers' Exchange
                    </a>
                    <div class='content'>
                        <iframe
                            class='youtube'
                            width='500'
                            height='315'
                            src='https://www.youtube.com/embed/ArryxLedtDI'
                            frameborder='0'
                            allow='utoplay; picture-in-picture'
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <a href='https://www.melongaming.com/games/ne-fi/'
                        >Nerd Fight
                    </a> by <a href='https://www.melongaming.com/'
                        >melongaming
                    </a>
                    <div class='content'>
                        <img
                            width='500'
                            height='315'
                            src='https://play-lh.googleusercontent.com/diXWPhIE_lLeMs7uk5gAFFzSqCQjEv4LrCGmFKRt60d7E7pJ6sZIkxm1Ii4dttY90w=w1440-h620'
                            alt='nerd fight'
                        />
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3>
                Third Party Tools Integration<a id='third-party' class='anchor'
                ></a>
            </h3>
            <hr />
            melonJS provides native integration and support for the following 3rd
            party tools :
            <br />
            <ul>
                <a href='https://www.mapeditor.org'>
                    <img
                        src='https://user-images.githubusercontent.com/4033090/136762999-5a7f377b-4136-4205-9fe0-83728c90cb9b.png'
                    />
                </a>
                <a href='https://www.codeandweb.com/texturepacker'>
                    <img
                        src='https://user-images.githubusercontent.com/4033090/136762472-bc55a638-c69b-4ff5-9d03-c684c8bea0ea.png'
                    />
                </a>
                <a href='http://free-tex-packer.com'>
                    <img
                        src='https://user-images.githubusercontent.com/4033090/136762061-1d3a0dfe-dbe0-4d3d-808d-47a49ecf5309.png'
                    />
                </a>
                <a href='https://www.codeandweb.com/physicseditor'>
                    <img
                        src='https://user-images.githubusercontent.com/4033090/136762890-b1010c7f-cb19-4d35-a3f1-f5048db07835.png'
                    />
                </a>
                <a href='https://renderhjs.net/shoebox/'>
                    <img
                        src='https://user-images.githubusercontent.com/4033090/136762705-92027d94-d87c-4a95-b051-26647410248d.png'
                    />
                </a>
                <a href='https://cordova.apache.org'>
                    <img
                        src='https://user-images.githubusercontent.com/4033090/136763147-6d157ce6-6921-437e-bb8f-0287b86109da.png'
                    />
                </a>
            </ul>
        </div>
        <div class='band'>
            <footer>
                <p>&#169; AltByte Pte Ltd 2011-2022</p>
                <img
                    src='https://user-images.githubusercontent.com/4033090/136692693-35dca8aa-5012-4a37-9ea2-51640d2e6d73.png'
                    alt='AltByte'
                />
            </footer>
        </div>
    </main>
</BaseLayout>
