---
---
<header>
    <style lang="scss">
        header {
            background-color: #404040;
            //padding: 0 10vmin;
            a {
                color: inherit;
                text-decoration: none;
            }
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    max-width: 100vw;
                    flex-wrap: wrap;
                    li {
                        flex-grow: 1;
                        text-align: center;
                        padding: 3vmin 8vmin;
                        list-style: none;
                        color: #9d9d9d;
                        transition: background-color 0.3s ease, color 0.3s ease;
                        &.active, &:hover {
                            color: white;
                            background-color: #202020;
                            transition: none;
                        }
                    }
                }
            }
            .brand {
                font-family: "Droid Sans";
                font-size: 22px;
                color: #fff;
                .logo {
                    color: #5a0;
                }
            }
        }
    </style>
    <nav>
        <ul>
            <li class="active"><a href="#top">Home</a></li>
            <li><a href="https://www.npmjs.com/package/melonjs">Download</a></li>
            <li><a href="http://melonjs.github.io/docs/">API</a></li>
            <li><a href="https://github.com/melonjs/melonJS">Github</a></li>
            <li><a href="https://github.com/melonjs/melonJS/wiki/made-with-melonJS">Gallery</a></li>
            <li><a href="https://melonjs.discourse.group">Forum</a></li>
            <li><a href="https://discord.gg/aur7JMk">Discord</a></li>
        </ul>
    </nav>
</header>