---
import Icon from './Icon.astro';
import '../styles/global.scss'
import '../styles/header.scss'
const pathname = new URL(Astro.request.url).pathname
---

<header>
    <nav>
        <ul>
            <li class={pathname === '/' ? 'active' : null}>
                <a href="/#top"><Icon icon="favicon" inline/>Home</a>
            </li>
            <li>
                <a aria-label="NPM" href="https://www.npmjs.com/package/melonjs"
                    ><Icon icon="npm" alt="npm" class="inline no-bump"/>
                </a>
            </li>
            <li><a href="https://melonjs.github.io/docs/">API</a></li>
            <li>
                <a
                    href="https://github.com/melonjs/melonJS/wiki/made-with-melonJS"
                    >Gallery
                </a>
            </li>
            <li>
                <a href="https://melonjs.discourse.group"
                    ><Icon icon="discourse" class="inline"/>Forum
                </a>
            </li>
            <li>
                <a href="https://discord.gg/aur7JMk" target="_blank"
                    ><Icon icon="discord" class="inline"/>Discord
                </a>
            </li>
            <li>
                <a href="https://github.com/melonjs/melonJS"
                    ><Icon icon="github" class="inline" /><span
                        >GitHub
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>
