---
import Header from '../components/Header.astro'
import '../styles/global.scss'
import { t } from "i18next"
const {
    description = '',
    title = 'melonJS',
    language="en"
} = Astro.props
---

<html lang={language}>
    <head>
        <title>{title}</title>
        <meta name="description" content={t("site.description")} />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/img/favicon.svg" />
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
