---
import BaseLayout from './BaseLayout.astro'
import '../styles/markdown.scss'
const { props } = Astro
const passProps = { ...props?.content }
delete passProps.astro
---

<BaseLayout {...passProps}>
    <main class="md"><slot /></main>
</BaseLayout>
